@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px;
  background: #f4f6f9;
  background: linear-gradient(180deg, #f4f6f9 0%, #dbe2ea 100%);
}

.display-value {
  color: #333333;
  font-weight: 700;
  font-size: 28px;
}

.buttons-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f9fbfc;
  background: linear-gradient(180deg, #f9fbfc 0%, #e7ecf1 100%);
}

.btn {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  font-weight: 600;
  transition: 200ms;
}

.operator {
  color: #49c2b3;
}

.number {
  color: #464646;
}

.clear {
  color: #eb6b6b;
}

.equal {
  color: #eaf6f6;
  background: #37baab;
  background: linear-gradient(180deg, #37baab 0%, #2c8796 100%);
}

.btn:hover {
  transition: 200ms;
  font-size: 26px;
  cursor: pointer;
  background-color: #d7dfe9;
}
